
p {
    font-size: 18px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

img:hover {
    transform: scale(1.1);
}

body {
    color: #d1d1d1;
    background:#1d1d20;
    border-top: 10px solid;
    border-style:outset;
    border-left: 10px solid;
    border-right: hidden;
    border-bottom: hidden;
    border-radius: 15px;
    height: 100%;
    animation: changeBorder 5s infinite;
}

@keyframes changeBorder {
    0% {
      border-color:rgb(183, 51, 231);
    }
    20% {
      border-color: rgb(57, 150, 232);
    }
    40% {
      border-color: rgb(36, 178, 93);
    }
    60% {
        border-color: rgb(57, 115, 121);
      }
    80% {
        border-color: rgb(67, 63, 74);
    }
    100% {
        border-color: rgb(198, 186, 85);
    }
}

.main {
    padding: 20px;
}

header {
    display: flex;
    flex-direction: row;
    padding: 30px;
}

.logo {
    font-size: 30px;
    float:inline-start;
    font-family: Helvetica, sans-serif;
    animation: changeText 5s infinite;
}

@keyframes changeText {
    0% {
        color:rgb(183, 51, 231);
        text-shadow: 2px 2px 4px rgb(57, 150, 232);
    }
    20% {
        color: rgb(57, 150, 232);
        text-shadow: 2px 2px 4px rgb(183, 51, 231);
    }
    40% {
        color: rgb(15, 237, 104);
        text-shadow: 2px 2px 4px rrgb(57, 115, 121);
      }
    60% {
        color: rgb(57, 115, 121);
        text-shadow: 2px 2px 4px rgb(15, 237, 104);
      }
    80% {
        color: rgb(242, 31, 35);
        text-shadow: 2px 2px 4px rgb(243, 219, 5);
    }
    100% {
        color: rgb(243, 219, 5);
        text-shadow: 2px 2px 4px rgb(242, 31, 35);
    }
}

.icons {
    margin-left: 70%;
    float: right
}

#linkedin, #email, #github {
    width: 40px;
    height: 40px;
    padding-left: 40px;
}

main {
    padding:30px;
}

.welcome-message {
    max-width: 60%;
    float: inline-start;
}

#welcome {
    font-size: 100px;
    font-family: sans-serif;
    font-weight: lighter;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 3s steps(30, end);
}

@keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
}

.details {
    border-left: 2px solid;
    border-left-style: inset;
    padding-left: 30px;
    animation: changeBorder 5s infinite
}

.projects {
    max-width: 40%;
    padding-left: 100px;
    padding-top:30px;
    float:inline-start;
    font-size: 35px;
}

.project {
    display: flex;
    flex-direction: column;
    border-left:2px solid;
    border-top: 2px solid;
    border-right: hidden;
    border-bottom: hidden;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 25px;
    font-family: ;
    animation: changeBorder 5s infinite;
}