head {
    padding:3.0vw;
}

img:hover {
    transform: scale(1.1);
}

body {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
    color: #d1d1d1;
    background:#1d1d20;
    border-top: 1.0vw solid;
    border-style:outset;
    border-left: 1.0vw solid;
    border-radius: 2vw;
    margin: 3.0vw;
    height: 100%;
    font-family: sans-serif;
    font-weight: lighter;
    animation: changeBorder 5s infinite;
}

@keyframes changeBorder {
    0% {
      border-color:rgb(183, 51, 231);
    }
    20% {
      border-color: rgb(57, 150, 232);
    }
    40% {
      border-color: rgb(36, 178, 93);
    }
    60% {
        border-color: rgb(57, 115, 121);
      }
    80% {
        border-color: rgb(67, 63, 74);
    }
    100% {
        border-color: rgb(198, 186, 85);
    }
}

.main {
    padding: 2.0vw;
}

header {
    display: flex;
    flex-direction: row;
    padding: 2.0vw;
}

.logo {
    font-size: 2.0vw;
    float:inline-start;
    animation: changeText 5s infinite;
    width: 82%;
}

.logo:hover {
    transform: scale(1.1);
}

@keyframes changeText {
    0% {
        color:rgb(183, 51, 231);
    }
    20% {
        color: rgb(57, 150, 232);
    }
    40% {
        color: rgb(15, 237, 104);
      }
    60% {
        color: rgb(57, 115, 121);
      }
    80% {
        color: rgb(67, 63, 74);
    }
    100% {
        color: rgb(243, 219, 5);
    }
}

.icons {
    display: flex;
    flex-direction:row;
    width: fit-content;
    height: fit-content;
}
#linkedin, #email, #github {
    width: 3.0vw;
    height: 3.0vw;
    padding-left: 2.0vw;
}

main {
    padding:2.0vw;
}

.main-message {
    display: flex;
    flex-direction: row;
}

.welcome-message {
    max-width: 60%;
    float: inline-start;
}

#welcome {
    font-size: 11.0vw;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 3s steps(30, end);
}

@keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
}

.details {
    max-width: fit-content;
    border-left: 0.2vw solid;
    border-right: 0.2vw solid;
    border-radius: 1.5vw;
    padding-left: 2.0vw;
    padding-right: 2.0vw;
    font-size:1.2vw;
    animation: changeBorder 5s infinite
}

.projects {
    width: fit-content;
    height: fit-content;
    float:inline-start;
    font-size: 2.0vw;
    padding-left: 4.0vw;
    padding-top: 2.0vw;
    text-align: center;
}

.project {
    display: flex;
    text-align: start;
    flex-direction: column;
    font-size: 1.2vw;
    border-left:0.1vw solid;
    border-top: 0.1vw solid;
    border-radius: 1.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
    border-color: rgb(57, 150, 232);
}

#project1, #project2, #project3 {
    text-decoration: none;
    color: white;
    border-bottom: 0.1vw solid;
    border-color: rgb(57, 150, 232);
}

.cortx {
    display: none;
    font-size: 1.2vw;
    max-width: 50%;
    float: inline-start;
    border-left-style:double;
    border-right-style: double;
    border-radius: 1.5vw;
    padding-left: 1.0vw;
    padding-right: 1.0vw;
    height: fit-content;
    width:fit-content;
    margin-top: 8vw;
    animation: changeBorder 5s infinite;
}

.skills {
    display: flex;
    flex-direction:column;
    width: fit-content;
    height: fit-content;
    border: 0.1vw solid;
    border-radius: 1.5vw;
    margin-top: 2.0vw;
    padding: 1.0vw;
    font-size: 1.2vw;
    border-color: rgb(57, 150, 232);
}

.skill {
    float:left;
    padding-bottom: 0.5vw;
}

.rating {
    padding-left: 3.0vw;
    float:right;
    animation: changeText 5s infinite;
}

.skills-logo{
    width:2.0vw;
    height:2.0vw;
}

.more {
    font-size: 1.2vw;
    cursor: pointer;
}

.more-details {
    display: none;
    font-size:1.2vw;
    border-left-style:double;
    border-right-style: double;
    border-radius: 1.2vw;
    padding-left: 2.0vw;
    padding-right: 2.0vw;
    width: fit-content;
    height: fit-content;
    animation: changeBorder 5s infinite;
}


