
img:hover {
    transform: scale(1.1);
}

body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #d1d1d1;
    background:#1d1d20;
    border-top: 10px solid;
    border-style:outset;
    border-left: 10px solid;
    border-right: hidden;
    border-bottom: hidden;
    border-radius: 15px;
    height: 100%;
    font-family: sans-serif;
    font-weight: lighter;
    animation: changeBorder 5s infinite;
}

@keyframes changeBorder {
    0% {
      border-color:rgb(183, 51, 231);
    }
    20% {
      border-color: rgb(57, 150, 232);
    }
    40% {
      border-color: rgb(36, 178, 93);
    }
    60% {
        border-color: rgb(57, 115, 121);
      }
    80% {
        border-color: rgb(67, 63, 74);
    }
    100% {
        border-color: rgb(198, 186, 85);
    }
}

.main {
    padding: 20px;
}

header {
    display: flex;
    flex-direction: row;
    padding: 30px;
}

.logo {
    font-size: 30px;
    float:inline-start;
    animation: changeText 5s infinite;
}

.logo:hover {
    transform: scale(1.1);
}

@keyframes changeText {
    0% {
        color:rgb(183, 51, 231);
        text-shadow: 2px 2px 4px rgb(57, 150, 232);
    }
    20% {
        color: rgb(57, 150, 232);
        text-shadow: 2px 2px 4px rgb(183, 51, 231);
    }
    40% {
        color: rgb(15, 237, 104);
        text-shadow: 2px 2px 4px rrgb(57, 115, 121);
      }
    60% {
        color: rgb(57, 115, 121);
        text-shadow: 2px 2px 4px rgb(15, 237, 104);
      }
    80% {
        border-color: rgb(67, 63, 74);
    }
    100% {
        color: rgb(243, 219, 5);
        text-shadow: 2px 2px 4px rgb(242, 31, 35);
    }
}

.icons {
    margin-left: 70%;
    float: right
}

#linkedin, #email, #github {
    width: 40px;
    height: 40px;
    padding-left: 40px;
}

main {
    padding:30px;
}

.welcome-message {
    max-width: 60%;
    float: inline-start;
}

#welcome {
    font-size: 150px;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 3s steps(30, end);
}

@keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
}

.details {
    border-left: 2px solid;
    border-right: 2px solid;
    border-radius: 20px;
    padding-left: 20px;
    font-size:18px;
    animation: changeBorder 5s infinite
}

.projects {
    float:inline-start;
    font-size: 25px;
    padding-left: 30px;
    padding-top: 30px;
    text-align: center;
}

.project {
    display: flex;
    text-align: start;
    flex-direction: column;
    font-size: 20px;
    border-left:2px solid;
    border-top: 2px solid;
    border-radius: 15px;
    padding-left: 10px;
    animation: changeBorder 5s infinite;
}

#project {
    text-decoration: none;
    color: white;
    border-bottom: 1px solid;
    animation: changeBorder 5s infinite;
}

.skills {
    display: flex;
    flex-direction:column;
    width: fit-content;
    border: 2px solid;
    border-radius: 10px;
    margin-top: 30px;
    padding: 10px;
    font-size: 18px;
    animation: changeBorder 5s infinite;
}

.skill {
    float:left;
    padding-bottom: 5px;
}

.rating {
    padding-left: 30px;
    float:right;
    animation: changeText 5s infinite;
}

.skills-logo{
    width:20px;
    height:20px;
}

.more {
    cursor: pointer;
}

.more-details {
    display: none;
    border-left-style:double;
    border-radius: 15px;
    padding-left: 20px;
    animation: changeBorder 5s infinite;
}

