head {
    padding:3.0vw;
}

img:hover {
    transform: scale(1.1);
}

body {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
    color: #d1d1d1;
    background:#1d1d20;
    border-top: 1.0vw solid;
    border-style:outset;
    border-left: 1.0vw solid;
    border-radius: 2vw;
    border-color: rgb(57, 150, 232);
    margin: 3.0vw;
    height: 100%;
    font-family: sans-serif;
    font-weight: lighter;    
}

.main {
    padding: 2.0vw;
}

header {
    display: flex;
    flex-direction: row;
    padding: 2.0vw;
    max-width: 100%;
}

.logo {
    display: flex;
    flex-direction: row;
    width: 80%;    
    height: fit-contnet;
    font-size: 3vw;
    color: rgb(57, 150, 232);
    cursor: pointer;
}

.icons {
    max-width: 20%;
    display: flex;
    flex-direction:row;
    width: fit-content;
    height: fit-content;
}

#linkedin, #email, #github, #resume {
    width: 3.0vw;
    height: 3.0vw;
    padding-left: 2.0vw;
}

main {
    padding:2.0vw;
}

.main-message {
    display: flex;
    flex-direction: row;
}

.welcome-message {
    width: 60%;
    float: inline-start;
    padding-left: 1.0vw;
    padding-right: 1.4vw;
}

#welcome {
    width: fit-content;
    font-size: 10.3vw;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 3s steps(30, end);
}

@keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
}

.details {
    border-left-style: double;
    border-right-style: double;
    border-radius: 1.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
    font-size:1.2vw;
    border-color: rgb(57, 150, 232);
    width: 100;
}

.projects {
    width: 10%;
    margin-top: 8vw;
    height: fit-content;
    float: inline-end;
    font-size: 1.2vw;
    padding-left: 4.0vw;
    padding-top: 2.0vw;
    text-align: center;
}

.project {
    display: flex;
    text-align: start;
    flex-direction: column;
    font-size: 1.2vw;
    border-left:0.1vw solid;
    border-top: 0.1vw solid;
    border-radius: 1.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
    border-color: rgb(57, 150, 232);
}

#project1, #project2, #project3 {
    text-decoration: none;
    color: white;
    border-bottom: 0.1vw solid;
    border-color: rgb(57, 150, 232);
}

.cortx {
    display: none;
    width: 60%;
    font-size: 1.2vw;
    float: inline-start;
    border-left-style:double;
    border-right-style: double;
    border-radius: 1.5vw;
    border-color: rgb(57, 150, 232);
    padding-left: 1.0vw;
    padding-right: 1.0vw;
    height: fit-content;    
    margin-top: 8vw;
}

.flash-blade {
    display: none;
    width: 60%;
    font-size: 1.2vw;
    float: inline-start;
    border-left-style:double;
    border-right-style: double;
    border-radius: 1.5vw;
    border-color: rgb(57, 150, 232);
    padding-left: 1.0vw;
    padding-right: 1.0vw;
    height: fit-content;
    margin-top: 8vw;
}

.echo {
    display: none;
    width: 60%;
    font-size: 1.2vw;
    float: inline-start;
    border-left-style:double;
    border-right-style: double;
    border-radius: 1.5vw;
    border-color: rgb(57, 150, 232);
    padding-left: 1.0vw;
    padding-right: 1.0vw;
    height: fit-content;
    margin-top: 8vw;
}

.skills {
    display: flex;
    flex-direction:column;
    float: inline-end;
    width: 30%;
    height: fit-content;
    border: 0.1vw solid;
    border-radius: 1.5vw;
    margin-top: 8vw;
    padding: 1.0vw;
    font-size: 1.2vw;
    border-color: rgb(57, 150, 232);
}

.skill {
    float:left;
    padding-bottom: 0.5vw;
}

.rating {
    padding-left: 3.0vw;
    float:right;
    color: rgb(198, 186, 85);
}

.skills-logo{
    width:2.0vw;
    height:2.0vw;
}

.more {
    font-size: 1.2vw;
    cursor: pointer;
}

.more-details {
    display: none;
    font-size:1.2vw;
    border-left-style:double;
    border-right-style: double;
    border-radius: 1.5vw;
    border-color: rgb(57, 150, 232);
    padding-left: 1vw;
    padding-right: 1vw;
    height: fit-content;
    width: fit-content;
}


